OldTimm/implementation/gpssite/GPS.SilverlightCampaign/Service References/CampaignReaderSLService/CampaignReaderSLService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="TIMM.Website.AreaServices" elementFormDefault="qualified" targetNamespace="TIMM.Website.AreaServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3970/SilverlightServices/CampaignReaderSLService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3970/SilverlightServices/CampaignReaderSLService.svc?xsd=xsd2" namespace="TIMM.Website.TransferObjects" />
  <xs:complexType name="ArrayOfToAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToAddress" nillable="true" type="tns:ToAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToAddress" nillable="true" type="tns:ArrayOfToAddress" />
  <xs:complexType name="ToAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="OriginalLatitude" type="xs:double" />
      <xs:element minOccurs="0" name="OriginalLongitude" type="xs:double" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Radiuses" nillable="true" type="tns:ArrayOfToAddressRadius" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToAddress" nillable="true" type="tns:ToAddress" />
  <xs:complexType name="ArrayOfToAddressRadius">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToAddressRadius" nillable="true" type="tns:ToAddressRadius" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToAddressRadius" nillable="true" type="tns:ArrayOfToAddressRadius" />
  <xs:complexType name="ToAddressRadius">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDisplay" type="xs:boolean" />
      <xs:element minOccurs="0" name="Length" type="xs:double" />
      <xs:element minOccurs="0" name="LengthMeasuresId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Relations" nillable="true" type="q1:ArrayOfKeyValueOfintArrayOfKeyValueOfintstringty7Ep6D1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToAddressRadius" nillable="true" type="tns:ToAddressRadius" />
  <xs:complexType name="ToArea">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attributes" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Classification" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element xmlns:q3="TIMM.Website.TransferObjects" minOccurs="0" name="Locations" nillable="true" type="q3:ArrayOfToCoordinate" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Relations" nillable="true" type="q4:ArrayOfKeyValueOfintArrayOfKeyValueOfintbooleanty7Ep6D1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToArea" nillable="true" type="tns:ToArea" />
</xs:schema>