OldTimm/implementation/gpssite/GPS.SilverlightCampaign/Service References/CampaignReaderSLService/CampaignReaderSLService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="TIMM.Website.DistributionMapServices" elementFormDefault="qualified" targetNamespace="TIMM.Website.DistributionMapServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3970/SilverlightServices/CampaignReaderSLService.svc?xsd=xsd2" namespace="TIMM.Website.TransferObjects" />
  <xs:import schemaLocation="http://localhost:3970/SilverlightServices/CampaignReaderSLService.svc?xsd=xsd6" namespace="TIMM.Website.TaskServices" />
  <xs:complexType name="ArrayOfToSubMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToSubMap" nillable="true" type="tns:ToSubMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToSubMap" nillable="true" type="tns:ArrayOfToSubMap" />
  <xs:complexType name="ToSubMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaignId" type="xs:int" />
      <xs:element minOccurs="0" name="CenterLatitude" type="xs:double" />
      <xs:element minOccurs="0" name="CenterLongitude" type="xs:double" />
      <xs:element minOccurs="0" name="ColorB" type="xs:int" />
      <xs:element minOccurs="0" name="ColorG" type="xs:int" />
      <xs:element minOccurs="0" name="ColorR" type="xs:int" />
      <xs:element minOccurs="0" name="ColorString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountAdjustment" type="xs:int" />
      <xs:element minOccurs="0" name="DistributionMaps" nillable="true" type="tns:ArrayOfToDistributionMap" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="Penetration" type="xs:int" />
      <xs:element minOccurs="0" name="Percentage" type="xs:double" />
      <xs:element xmlns:q1="TIMM.Website.TransferObjects" minOccurs="0" name="SubMapCoordinates" nillable="true" type="q1:ArrayOfToCoordinate" />
      <xs:element xmlns:q2="TIMM.Website.TransferObjects" minOccurs="0" name="SubMapRecords" nillable="true" type="q2:ArrayOfToAreaRecord" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
      <xs:element minOccurs="0" name="TotalAdjustment" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToSubMap" nillable="true" type="tns:ToSubMap" />
  <xs:complexType name="ArrayOfToDistributionMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToDistributionMap" nillable="true" type="tns:ToDistributionMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToDistributionMap" nillable="true" type="tns:ArrayOfToDistributionMap" />
  <xs:complexType name="ToDistributionMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="CenterLatitude" type="xs:double" />
      <xs:element minOccurs="0" name="CenterLongitude" type="xs:double" />
      <xs:element minOccurs="0" name="ColorB" type="xs:int" />
      <xs:element minOccurs="0" name="ColorG" type="xs:int" />
      <xs:element minOccurs="0" name="ColorR" type="xs:int" />
      <xs:element minOccurs="0" name="ColorString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountAdjustment" type="xs:int" />
      <xs:element xmlns:q3="TIMM.Website.TransferObjects" minOccurs="0" name="DistributionMapCoordinates" nillable="true" type="q3:ArrayOfToCoordinate" />
      <xs:element xmlns:q4="TIMM.Website.TransferObjects" minOccurs="0" name="DistributionMapRecords" nillable="true" type="q4:ArrayOfToAreaRecord" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Penetration" type="xs:int" />
      <xs:element minOccurs="0" name="Percentage" type="xs:double" />
      <xs:element minOccurs="0" name="SubMapId" type="xs:int" />
      <xs:element xmlns:q5="TIMM.Website.TaskServices" minOccurs="0" name="Tasks" nillable="true" type="q5:ArrayOfToTask" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
      <xs:element minOccurs="0" name="TotalAdjustment" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToDistributionMap" nillable="true" type="tns:ToDistributionMap" />
</xs:schema>