OldTimm/implementation/TIMM.GPS/TIMM.GPS.ControlCenter/Service References/LocationService/LocationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="TIMM.Website.SilverlightServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="TIMM.Website.SilverlightServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="TIMM.Website.SilverlightServices/Imports">
      <xsd:import schemaLocation="http://localhost:17889/SilverlightServices/LocationService.svc?xsd=xsd0" namespace="TIMM.Website.SilverlightServices" />
      <xsd:import schemaLocation="http://localhost:17889/SilverlightServices/LocationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17889/SilverlightServices/LocationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LocationService_PointInPolygon_InputMessage">
    <wsdl:part name="parameters" element="tns:PointInPolygon" />
  </wsdl:message>
  <wsdl:message name="LocationService_PointInPolygon_OutputMessage">
    <wsdl:part name="parameters" element="tns:PointInPolygonResponse" />
  </wsdl:message>
  <wsdl:message name="LocationService_PointsInPolygon_InputMessage">
    <wsdl:part name="parameters" element="tns:PointsInPolygon" />
  </wsdl:message>
  <wsdl:message name="LocationService_PointsInPolygon_OutputMessage">
    <wsdl:part name="parameters" element="tns:PointsInPolygonResponse" />
  </wsdl:message>
  <wsdl:message name="LocationService_SendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="LocationService_SendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:portType name="LocationService">
    <wsdl:operation name="PointInPolygon">
      <wsdl:input wsaw:Action="TIMM.Website.SilverlightServices/LocationService/PointInPolygon" message="tns:LocationService_PointInPolygon_InputMessage" />
      <wsdl:output wsaw:Action="TIMM.Website.SilverlightServices/LocationService/PointInPolygonResponse" message="tns:LocationService_PointInPolygon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PointsInPolygon">
      <wsdl:input wsaw:Action="TIMM.Website.SilverlightServices/LocationService/PointsInPolygon" message="tns:LocationService_PointsInPolygon_InputMessage" />
      <wsdl:output wsaw:Action="TIMM.Website.SilverlightServices/LocationService/PointsInPolygonResponse" message="tns:LocationService_PointsInPolygon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input wsaw:Action="TIMM.Website.SilverlightServices/LocationService/SendMail" message="tns:LocationService_SendMail_InputMessage" />
      <wsdl:output wsaw:Action="TIMM.Website.SilverlightServices/LocationService/SendMailResponse" message="tns:LocationService_SendMail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>