OldTimm/implementation/GPSService/GTUService/Service References/Geofencing/Geofencing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Geofencing" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://74.208.46.157:7801/WHYTAlgorithmService/Geofencing/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://74.208.46.157:7801/WHYTAlgorithmService/Geofencing/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://74.208.46.157:7801/WHYTAlgorithmService/Geofencing/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WHYTAlgorithmService.Geo" />
      <xsd:import schemaLocation="http://74.208.46.157:7801/WHYTAlgorithmService/Geofencing/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeofencing_IsInTheArea_InputMessage">
    <wsdl:part name="parameters" element="tns:IsInTheArea" />
  </wsdl:message>
  <wsdl:message name="IGeofencing_IsInTheArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsInTheAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IGeofencing_IsInTheDNDArea_InputMessage">
    <wsdl:part name="parameters" element="tns:IsInTheDNDArea" />
  </wsdl:message>
  <wsdl:message name="IGeofencing_IsInTheDNDArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsInTheDNDAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IGeofencing_RegisterArea_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterArea" />
  </wsdl:message>
  <wsdl:message name="IGeofencing_RegisterArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IGeofencing_UpdateArea_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArea" />
  </wsdl:message>
  <wsdl:message name="IGeofencing_UpdateArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IGeofencing_RemoveArea_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveArea" />
  </wsdl:message>
  <wsdl:message name="IGeofencing_RemoveArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAreaResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeofencing">
    <wsdl:operation name="IsInTheArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeofencing/IsInTheArea" message="tns:IGeofencing_IsInTheArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeofencing/IsInTheAreaResponse" message="tns:IGeofencing_IsInTheArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsInTheDNDArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeofencing/IsInTheDNDArea" message="tns:IGeofencing_IsInTheDNDArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeofencing/IsInTheDNDAreaResponse" message="tns:IGeofencing_IsInTheDNDArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeofencing/RegisterArea" message="tns:IGeofencing_RegisterArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeofencing/RegisterAreaResponse" message="tns:IGeofencing_RegisterArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeofencing/UpdateArea" message="tns:IGeofencing_UpdateArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeofencing/UpdateAreaResponse" message="tns:IGeofencing_UpdateArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeofencing/RemoveArea" message="tns:IGeofencing_RemoveArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeofencing/RemoveAreaResponse" message="tns:IGeofencing_RemoveArea_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGeofencing" type="tns:IGeofencing">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsInTheArea">
      <soap:operation soapAction="http://tempuri.org/IGeofencing/IsInTheArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsInTheDNDArea">
      <soap:operation soapAction="http://tempuri.org/IGeofencing/IsInTheDNDArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterArea">
      <soap:operation soapAction="http://tempuri.org/IGeofencing/RegisterArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArea">
      <soap:operation soapAction="http://tempuri.org/IGeofencing/UpdateArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveArea">
      <soap:operation soapAction="http://tempuri.org/IGeofencing/RemoveArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Geofencing">
    <wsdl:port name="BasicHttpBinding_IGeofencing" binding="tns:BasicHttpBinding_IGeofencing">
      <soap:address location="http://74.208.46.157:7801/WHYTAlgorithmService/Geofencing/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>