OldTimm/implementation/GPSService/GTUService/Service References/Geofencing/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/WHYTAlgorithmService.Geo" />
  <xs:element name="IsInTheArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WHYTAlgorithmService.Geo" minOccurs="0" name="oLocation" nillable="true" type="q1:Coordinate" />
        <xs:element minOccurs="0" name="sGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInTheAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsInTheAreaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WHYTAlgorithmService.Geo" minOccurs="0" name="oArea" nillable="true" type="q2:ArrayOfCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterAreaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sGUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WHYTAlgorithmService.Geo" minOccurs="0" name="oArea" nillable="true" type="q3:ArrayOfCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAreaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAreaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>