OldTimm/implementation/GPSService/GTUService/Service References/Geofencing/WHYTAlgorithmService.Geo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WHYTAlgorithmService.Geo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WHYTAlgorithmService.Geo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Coordinate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" type="xs:double" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coordinate" nillable="true" type="tns:Coordinate" />
  <xs:complexType name="ArrayOfCoordinate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Coordinate" nillable="true" type="tns:Coordinate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoordinate" nillable="true" type="tns:ArrayOfCoordinate" />
</xs:schema>