OldTimm/implementation/gpssite/GPS.Utilities/Service References/OfficeHelpers/ExcelHelperService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8010/ExcelHelperService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GPSOfficeHelper" />
  <xs:element name="ReadAreaRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAreaRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GPSOfficeHelper" minOccurs="0" name="ReadAreaRecordResult" nillable="true" type="q1:ArrayOfAreaRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteAreaRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="templateFile" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GPSOfficeHelper" minOccurs="0" name="records" nillable="true" type="q2:ArrayOfAreaRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteAreaRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteAreaRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadNdAddressRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadNdAddressRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GPSOfficeHelper" minOccurs="0" name="ReadNdAddressRecordResult" nillable="true" type="q3:ArrayOfNdAddressRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>