OldTimm/implementation/gpssite/GPS.Utilities/Service References/OfficeHelpers/ExcelHelperService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GPSOfficeHelper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPSOfficeHelper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAreaRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AreaRecord" nillable="true" type="tns:AreaRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAreaRecord" nillable="true" type="tns:ArrayOfAreaRecord" />
  <xs:complexType name="AreaRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Penetration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AreaRecord" nillable="true" type="tns:AreaRecord" />
  <xs:complexType name="ArrayOfNdAddressRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NdAddressRecord" nillable="true" type="tns:NdAddressRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNdAddressRecord" nillable="true" type="tns:ArrayOfNdAddressRecord" />
  <xs:complexType name="NdAddressRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Geofence" type="xs:int" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NdAddressRecord" nillable="true" type="tns:NdAddressRecord" />
</xs:schema>