OldTimm/implementation/gpssite/GPS.SilverlightMap/Service References/DMReaderSLService/DMReaderSLService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="TIMM.Website.TransferObjects" elementFormDefault="qualified" targetNamespace="TIMM.Website.TransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3970/SilverlightServices/DMReaderSLService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfToCoordinate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToCoordinate" nillable="true" type="tns:ToCoordinate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToCoordinate" nillable="true" type="tns:ArrayOfToCoordinate" />
  <xs:complexType name="ToCoordinate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToCoordinate" nillable="true" type="tns:ToCoordinate" />
  <xs:complexType name="ArrayOfToAreaRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToAreaRecord" nillable="true" type="tns:ToAreaRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToAreaRecord" nillable="true" type="tns:ArrayOfToAreaRecord" />
  <xs:complexType name="ToAreaRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="Classification" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Relations" nillable="true" type="q1:ArrayOfKeyValueOfintArrayOfKeyValueOfintbooleanty7Ep6D1" />
      <xs:element minOccurs="0" name="Value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToAreaRecord" nillable="true" type="tns:ToAreaRecord" />
</xs:schema>