OldTimm/implementation/gpssite/GPS.SilverlightMap/Service References/GTUService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GTUService.TIMM" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetGTU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sGTUCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGTUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GTUService.TIMM" minOccurs="0" name="GetGTUResult" nillable="true" type="q1:GTU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGTUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sGTUCode" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGTUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GTUService.TIMM" minOccurs="0" name="GetGTUsResult" nillable="true" type="q3:ArrayOfGTU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentCoordinate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sGTUCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentCoordinateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GTUService.TIMM" minOccurs="0" name="GetCurrentCoordinateResult" nillable="true" type="q4:Coordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sGTUCode" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentCoordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GTUService.TIMM" minOccurs="0" name="GetCurrentCoordinatesResult" nillable="true" type="q6:ArrayOfCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGTUInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sGTUCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nHeading" type="xs:int" />
        <xs:element minOccurs="0" name="dwSpeed" type="xs:double" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GTUService.TIMM" minOccurs="0" name="ePowerInfo" type="q7:PowerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGTUInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGTUInfoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="nHeading" type="xs:int" />
        <xs:element minOccurs="0" name="dwSpeed" type="xs:double" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GTUService.TIMM" minOccurs="0" name="ePowerInfo" type="q8:PowerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGTUCodeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGTUCodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGTUCodeListResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GTUService.TIMM" minOccurs="0" name="oArea" nillable="true" type="q10:ArrayOfCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterDMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GTUService.TIMM" minOccurs="0" name="cn" nillable="true" type="q11:Coordinate" />
        <xs:element minOccurs="0" name="geoStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsInAreaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTaskFromStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTaskFromStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveTaskFromStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskToStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskToStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTaskToStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>