OldTimm/implementation/GPSService/Test/Service References/GTUUpdate/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7900/GTUService/GTUUpdate/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GTUService.TIMM" />
  <xs:element name="UpdateGTU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sGTUCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GTUService.TIMM" minOccurs="0" name="oGTU" nillable="true" type="q1:GTU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGTUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>